In [1]:
import pandas as pd

In [3]:
low_avse_df = pd.read_csv('predicted_low_avse_test.csv')
high_avse_df = pd.read_csv('high_avse_test_preds.csv')
dcr_avse_df = pd.read_csv('psd_label_dcr_predictions_nn.csv')
lq_df = pd.read_csv('psd_label_lq_predictions.csv')

In [12]:
combined_df = low_avse_df.merge(high_avse_df, on='id').merge(dcr_avse_df, on='id').merge(lq_df, on='id')
combined_df

,id,predicted_label_low_avse,high_avse_preds,predicted_label_dcr,predicted_label_lq
0,2395098_test_0,1,1,1,1
1,2395099_test_0,1,1,1,1
2,2395100_test_0,0,1,1,1
3,2395101_test_0,1,1,1,1
4,2395102_test_0,0,1,1,1
...,...,...,...,...,...
389995,2785093_test_5,0,1,1,1
389996,2785094_test_5,1,1,1,1
389997,2785095_test_5,0,1,1,1
389998,2785096_test_5,1,1,1,1
389999,2785097_test_5,1,1,1,0

In [14]:
combined_df[(combined_df["predicted_label_low_avse"] == 1) & (combined_df["high_avse_preds"] == 1) & (combined_df["predicted_label_dcr"] == 1) & (combined_df["predicted_label_lq"] == 1)]

,id,predicted_label_low_avse,high_avse_preds,predicted_label_dcr,predicted_label_lq
0,2395098_test_0,1,1,1,1
1,2395099_test_0,1,1,1,1
3,2395101_test_0,1,1,1,1
5,2395103_test_0,1,1,1,1
9,2395107_test_0,1,1,1,1
...,...,...,...,...,...
389988,2785086_test_5,1,1,1,1
389989,2785087_test_5,1,1,1,1
389992,2785090_test_5,1,1,1,1
389996,2785094_test_5,1,1,1,1
389998,2785096_test_5,1,1,1,1

In [16]:
combined_df.to_csv("combined_classification_predictions.csv", index=False)